@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --gradient: linear-gradient(to right, #9198e5, #e66465);
  --primary-color: #e66465;
}

/* base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 1.6;
  background-color: hsl(36, 100%, 99%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar styling */

.navbar {
  background: var(--gradient);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

/* Hero styling */

.hero {
  height: 400px;
  background-color: #9198e5;
  position: relative;
}

.hero h1 {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.hero .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.hero-form {
  position: relative;
  top: 60px;
  height: 350px;
  color: #333;
  width: 350px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.hero-form .form-control {
  margin: 20px 0;
}

.hero-form input[type="text"],
.hero-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becd;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.hero-form input:focus {
  outline: none;
}

/* for skewed area on the Hero */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: white;
  transform: skewY(-3deg);
  /* rendering content in Safari and Chrome browsers for older version*/
  -webkit-transform: skewY(-3deg);
  /* for Mozilla */
  -moz-transform: skewY(-3deg);
  /* for microsoft */
  -ms-transform: skewY(-3deg);
}
/* Animations are now supported unprefixed in every major browser, but you will need to use the -webkit- prefix for older versions. */

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 30px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}
