@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --gradient: linear-gradient(to right, #9198e5, #e66465);
  --primary-color: #e66465;
  --smokegray: #3b3b3b;
}

/* base styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: hsl(36, 100%, 99%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar styling */

.navbar {
  background: var(--gradient);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

/* Hero styling */

.hero {
  height: 400px;
  background-color: #9198e5;
  position: relative;
}

.hero h1 {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.hero .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.hero-form {
  position: relative;
  top: 60px;
  height: 350px;
  color: var(--smokegray);
  width: 350px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.hero-form .form-control {
  margin: 20px 0;
}

.hero-form input[type="text"],
.hero-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becd;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.hero-form input:focus {
  outline: none;
}

/* for skewed area on the Hero */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: white;
  transform: skewY(-3deg);
  /* rendering content in Safari and Chrome browsers for older version*/
  -webkit-transform: skewY(-3deg);
  /* for Mozilla */
  -moz-transform: skewY(-3deg);
  /* for microsoft */
  -ms-transform: skewY(-3deg);
}
/* Animations are now supported unprefixed in every major browser, but you will need to use the -webkit- prefix for older versions. */

/* Stats */

.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 30px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}

/* CLI */

.cli .grid {
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid img {
  /* so img can take up length of 2 column, since we have set 3 column in a row */
  grid-column: 1 / span 2;
  /* so img can take up height of 2 column*/
  grid-row: 1 / span 2;
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Flex-cards Mickey-mouse */
.flex-cards {
  height: 200px;
}

.flex-cards .flex {
  flex-wrap: wrap;
  justify-content: center;
}

.flex-cards .flex-card img {
  box-shadow: 0 5px 10px rgb(134, 130, 130);
  border-radius: 4px;
  margin: 0.5rem;
  width: 100px;
  height: auto;
}

.flex-cards .flex-card {
  transition: transform 0.15s ease-in;
}

.flex-cards .flex-card:hover {
  transform: translateY(-5px);
}

/* Footer */

.footer .social a {
  margin: 0 10px;
}

.footer nav a:hover {
  border-bottom: 1px solid black;
}

/* TABLETS and UNDER*/
/* everything is under 768px will apply th styling below */
@media (max-width: 768px) {
  .grid,
  .hero .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero {
    height: auto;
  }

  .hero-text {
    text-align: center;
    margin-top: 40px;
  }

  .hero-form {
    justify-self: center;
    margin: auto;
  }

  .cli .grid > img {
    grid-column: 1;
    grid-row: 1;
  }

  .footer {
    font-size: 15px;
  }
}

/* MOBILE */
/* everything is under 500px will apply th styling below */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar nav .flex {
    flex-direction: row;
  }

  .navbar ul {
    padding: 10px;
  }
}
